.even {
    top: 0;
    position: relative;
    display: inline-block;
    width: fit-content;
    margin-right: 0;
  }
  
  .odd {
    top: 42px;
    display: inline-block;
    width: fit-content;
    margin-right: 0; 
    position: relative;
  }

  .container4 {
    width: 100vh;
    height: 90vh;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 30px;
    top: 50%;
    left: 44%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 500px;
    position: absolute;
    margin-top: 0%;
    border: 1px solid black;
  }